[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
# pytest-mock = "*"
# factory_boy = "*"
vcrpy = "*"
fakeredis = "*"

[packages]
flask = "*"
# flask-wtf = "*"
flask-assets = "*"
pandas = "*"
chartkick = "*"
# dash = "*"
# bokeh = "*"
gunicorn = "*"
#   redis
flask-caching = "*"
rq-dashboard = "*"
flask-rq2 = "*"
apscheduler = "*"
redlock-py = "*"
walrus = "*"
# leaderboard = "*"
# rejson = "*"
# requests = "*"
# flask-sqlalchemy = "*"
# flask-migrate = "*"
# flask-marshmallow = "*"
# marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.6.8"
