{% extends "layout.html" %}
{% block content %}

<div class='jumbotron'>
  First I want to say that each human life is precious.  
  We should never treat these numbers as mere statistics as each death is a tragic loss for someone.  
  Working from home for the last few weeks and reading news articles talking about ever increasing death toll I became concered about the psychological impact of this information. 
  The best way I could think of analyzing this information is per day for a specific area.  
  I am not a doctor or a scientist but a software engineer in Seattle.  
  I was not able able to find an easy dasbhoard to view this data so I built one.    

  <br><br>
  Data is sourced from https://github.com/CSSEGISandData/COVID-19 by Johns Hopkins.  
  <br>
  Site is hosted on http://cloud.oracle.com/ (my employer).
  <br>
  Code can be viewed at https://github.com/dmitrypol/covid19.

</div>

<hr>

<table id="index_table" class="table table-bordered table-hover table-striped">
  <thead class="">
    <tr>
      <th scope="col">State</th>
      <th scope="col">County</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
      <tr>
        <td>{{ item.state }}</td>
        <td><a href="{{ url_for( 'show', combined_key=item.combined_key ) }}">{{ item.county }}</a></td>
      </tr>
    {% else %}
      <tr>
        <td>no data found</td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  
{% endblock %}