{% extends "layout.html" %}
{% block content %}

<div class='jumbotron'>
  This dashboard is meant to analyze COVID19 information as cases per day for specific areas (US, states and counties). 
</div>

{% include '_charts.html' %}

<div class="alert alert-primary" role="alert">
  To get data for specific county or state search for that county or state and click the links.
</div>
{% include '_table.html' %}

<div class="alert alert-primary" role="alert">
  Data is sourced from <a  href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a> by Johns Hopkins CSSE.  
  They have good stats starting March 22.
  <br>
  Their dashboard is here <a href="https://coronavirus.jhu.edu/map.html">https://coronavirus.jhu.edu/map.html</a> but I wanted different presentation.
  <br>
  Site is hosted on <a href="http://cloud.oracle.com/">http://cloud.oracle.com/</a> (my employer).
  <br>
  Code can be viewed at <a href="https://github.com/dmitrypol/covid19">https://github.com/dmitrypol/covid19</a>.
</div>

{% endblock %}